<!--
	Author: Srikar
-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>Homepage</title>
		<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>

	<body>
		<div class="container">
			<h1>Welcome to Forms</h1>
			<br>
			{% if status %}
			<p>Click <a href="logout">here</a> to logout</p>
			{% endif %}

			{% for message in get_flashed_messages() %}
				{{ message }}
			{% endfor %}
			<p>Click <a href="make-forms" title="Make a form now!">here</a> to make a new From</p>
		</div>
	</body>
</html>