{% extends "layout.html" %}
{% block content %}
	<h1>FAQs</h1>
	<p>
		1) Does this service take personal details of the user?<br>
		A) That's an astronomical no, we do not take any details from you, not even your email address.<br><br>

		2) Do I need to create an account or have to login to fill a form?<br>
		A) No, you do not need to login or create an account to fill out a form.<br><br>

		3) Can I recover my password if I forget it by any chance?<br>
		A) We do not take your email address so there is no way we would be able to send you any reset link to change password.<br><br>

		4) How far is my data encrypted?<br>
		A) Your data is encrypted only on our servers, once you download the csv file it's decrypted on your end.<br><br>

		5) What if there are bugs that I'd like to report?<br>
		A) You can open an issue on our github repository so that we can fix the issue as soon as possible.<br><br>

		6) Are there any guidelines on the number of questions?<br>
		A) You have to make a minimum of 2 questions.
	</p>
{% endblock content%}