{% extends "layout.html" %}
{% block content %}
	<h1>FAQs</h1>
	<ol>
		<li>
			Does this service take personal details of the user?<br>
			That's an astronomical no, we do not take any details from you, not even your email address.<br><br>
		</li>
		<li>
			Do I need to create an account or have to login to fill a form?<br>
			No, you do not need to login or create an account to fill out a form.<br><br>
		</li>
		<li>
			Can I recover my password if I forget it by any chance?<br>
			We do not take your email address so there is no way we would be able to send you any reset link to change password.<br><br>
		</li>
		<li>
			How far is my data encrypted?<br>
			Your data is encrypted only on our servers, once you download the csv file it's decrypted on your end.<br><br>
		</li>
		<li>
			What if there are bugs that I'd like to report?<br>
			You can open an issue on our github repository so that we can fix the issue as soon as possible.<br><br>
		</li>
		<li>
			Are there any guidelines on the number of questions?<br>
			You have to make a minimum of 2 questions.<br><br>
		</li>
		<li>
			I have heard, "you are the product when a service is free". Is this applicable here as well?<br>
			No. We make money of the donations we receive. As we have said before, we DO NOT sell any data.
		</li>
	</ol>
{% endblock content%}