<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Forms">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<script src="{{ url_for('static', filename='script.js') }}" defer></script>

		{% if title %}
			<title>Forms - {{ title }}</title>
		{% else %}
			<title>Forms</title>
		{% endif %}
	</head>

	<body>
		<nav>
			<div class="logo"><a href="/">HForms</a></div>

			<a href="javascript:void(0)" class="toggle-button">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</a>

			<div class="navbar-links">
				<ul>
					{% if current_user.is_authenticated %}
						<li><a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a></li>
						<li><a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a></li>
					{% else %}
						<li><a href="{{ url_for('faqs') }}">FAQs</a></li>
						<li><a href="{{ url_for('donate') }}">Donate</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
						<li><a href="{{ url_for('register') }}">Sign Up</a></li>
						<li><a href="{{ url_for('login') }}">Login</a></li>
					{% endif %}
				</ul>
			</div>

		</nav>
		
		<div class="content">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							{{ message | safe}}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block content %}{% endblock %}
		</div>

		<footer>
			
			<p>
				&copy;2020 HForms, a 501c3 nonprofit.
				<br>
				HForms is a registered trademark in India and other countries.
			</p>

			<ul>
				<li class="heading">Organisation</li>
				<li><a href="{{ url_for('donate') }}" title="Click here to donate :)">Donate</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="{{ url_for('terms') }}">Terms and Conditions</a></li>
				<li><a href="{{ url_for('privacy') }}">Privacy Policy</a></li>
			</ul>

			<ul>
				<li class="heading">Social</li>
				<li><a href="https://github.com/HForms/" title="Hforms">GitHub</a></li>
				<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" title="Hforms Twitter">Twitter</a></li>
				<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" title="Hforms Instagram">Instagram</a></li>
			</ul>

		</footer>


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>