{% extends "layout.html" %}
{% block content %}
<h1>Privacy Policy</h1>
<h2>Data Collected</h2>
<p class = 'no-bold'>
	<b>Username:</b> When making a new account on hforms, you need to provide us an username. This may not be your real name or related to you in any way. The username is stored on our servers.<br><br>
	<b>IP Logging:</b> By default, we store IPs temporarily to detect and prevent any abuses, but in case too many abuses are detected, the IP can could be stored permanently.<br><br>
	<b>Data collected in forms:</b> We have no control over how the data collected in a form is used. The database is encrypted only on our servers and once downloaded it is the users responsibilty to safeguard the data.
</p>
<h2>Cookie policy</h2>
<p class = 'no-bold'>
	<b>Cookies:</b> We store cookies only for authenticating user sessions.
</p>
<h2>Data Disclosure</h2>
<p class = 'no-bold'>
	We do not sell data and will not disclose any data to third parties. However, we can be legally bound to provide content data (in case of a valid Indian court order) and inventory data to prosecution services.
</p>
{% endblock content %}