{% extends "layout.html" %}
{% block content %}
<h1>Terms and Conditions</h1>
<p class = 'no-bold'>
	By using <a href = "https://hforms.me">hforms.me</a> website and making use of hforms you agree to be bound by the following Terms and Conditions.
</p>
<h2>Use of service</h2>
<p class = 'no-bold'>
	You agree to not use this service for any unlawful or unauthorised activities as prescribed in the laws of the land.<br><br>
	You are responsible for the data you fill in the forms hosted on hforms. We have no control on what the form creator does with that data.<br><br>
	The files are only encrypted on our servers and we have no control over what happens after you have downloaded.<br><br>
	The service is still in BETA so if your life, property or anything major depends on information collected through a form, we recommend using other "stable" services. We are in no way responsible if something goes wrong.<br><br>
	Since we collect no contact information, it is your responsiblity to visit <a href = "https://hforms.me">hforms.me</a> periodically to be updated with the latest changes.
</p>
<h2>Warranty and liability</h2>
<p class = 'no-bold'>
	The service is provided "as is" and the organisation provides no warranty about the reliablity of the service. The organisation also does not guarentee the security of user data despite its best efforts.<br><br>
	You also agree to not hold the organisation or any of its memebers responsible nor seek compensation for any damages, including but not limited to the loss of data, profit, reputation or any other losses by using the services.<br><br>
	Moreover you will not hold the organisation or any of its memebers liable nor seek compensation if any data is unintentionally released because of the presence of a security vulnerability in the service.<br><br>
	The organisation may at its sole discretion, terminate service without cause or notice.
</p>
<h2>Applicable Law</h2>
<p class = 'no-bold'>
	This Agreement shall be governed in all respects by the Information Technology Act, 2000 and The Information Technology Rules of India.<br><br>
	Our jurisdiction is limited to the local laws of India and its territories and moreover if any dispute arises first preference for resolving the same shall be by amicably settling it through arbitration or the dispute shall be subjected to Bengaluru, Karnataka, India jurisdiction.
</p>
{% endblock content %} 
